.row {
    color: black;
}

li {
    font-size: 12pt;
    padding-left: 0%;
}

ul {
    list-style: none;
    padding-left: 0%;

}

.icon {
    width: 100px;
}

.low {
    background-color: rgb(0, 255, 0);
}

.moderate {
    background-color: rgb(255, 196, 0);
}

.severe {
    background-color: rgb(255, 0, 0);
}