
/* Image icon for current weather */
.icon {
    width: 100px;
}
/* uvindex section */
.low {
    background-color: rgb(0, 255, 0);
}

.moderate {
    background-color: rgb(255, 196, 0);
}

.severe {
    background-color: rgb(255, 0, 0);
}